# General
.DS_Store
.AppleDouble
.LSOverride

**/Thumbs.db

**/build/output
**/build/input-cache
**/build/temp
**/build/template
**/build/fsh-generated

**/publisher.jar
**/validator_cli.jar
**/org.hl7.fhir.publisher.jar
**/org.hl7.fhir.validator.jar

**/ig-registry
**/ig-history

**/web-root/ig-build-zips/*.zip

node_modules